PowerShell/SqlInventory/conf/serverlist.txt
PowerShell/SqlInventory/conf/pfile.txt
PowerShell/SqlInventory/conf/kfile.key
PowerShell/SqlInventory/conf/instancelist.csv
PowerShell/SqlInventory/conf/config_file.json
